.decoration {
    text-decoration: none;
    color: #263072 !important;
}

.decoration:hover {
    color: #4b569e !important;
}

.navbar .navbar-nav .nav-link {
    color: black !important;
}

input[type=text], input[type=email], input[type=password], input[type=checkbox] {
    margin-top: 1px;
    margin-right: 16px;
    font-size: 27px;
    border: 2px solid #263072 !important;
    border-radius: 4px;
}

.btnSend {
    scale: 1.5 !important;
    width: 100px !important;
    border-radius: 20px !important;
    background-color: #263072 !important;
    border: #263072 !important;
    transition: scale .3s ease !important;
}

.btnSend:hover {
    scale: 1.7 !important;
}